<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h2 >Resturant Records App</h2>
        <div class="d-flex">
            <button class="btn btn-success">Add Resturant</button>
        </div>
    </div>
</nav>

<!-- Table shown here -->
<table>
    <thead>
        <tr>
            <th scope="col">Resturant ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Mobile</th>
            <th scope="col">Address</th>
            <th scope="col">Service</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
        </tr>
    </tbody>
</table>